        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
            font-family: Roboto Condensed, sansserif;
                  background-image: url("login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding: 10px;
        }
                

        .login-container {
            background-color: transparent;
            width: 100%;
            max-width: 600px;
            padding: 25px;
            border-radius: 10px;
            
            text-align: center;
        }
        .company-name {
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
        }
        .company-name span:nth-child(1) {
            color: #001041;
        }
        .company-name span:nth-child(2) {
            color: black;
        }
        h1 {
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            color: #666;
            margin-bottom: 20px;
        }
        label {
            display: block;
            text-align: left;
            margin: 15px 0 5px;
            font-size: 14px;
            color: #666;
        }
        input[type="email"],
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 1px;
            background-color: #ffffff;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .password-container {
            position: relative;
        }
        .password-container .toggle-password {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 16px;
            color: #888;
        }
        .login-btn {
            width: 100%;
            padding: 15px;
            background-color: #007;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            margin-top: 15px;
        }
        .login-btn:hover {
            background-color: #b00017;
        }
        .forgot-password {
            margin-top: 15px;
            font-size: 14px;
            color: #666;
        }
        .forgot-password a {
            color: #001041;
            text-decoration: none;
        }
        .signup {
            margin-top: 15px;
            font-size: 14px;
        }
        .signup a {
            color: #007bff;
            text-decoration: none;
        }
        @media (max-width: 600px) {
            .login-container {
                padding: 20px;
            }
            input[type="email"],
            input[type="password"] {
                padding: 12px;
            }
            .login-btn {
                padding: 12px;
                font-size: 16px;
            }
        }